<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Livre</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Détails du Livre</h1>
    <h2><%= book.title %></h2>
    <p>Auteur: <%= book.author %></p>
    <p>Genre: <%= book.genre %></p>
    <p>Emprunté: <%= book.borrowed ? 'Oui' : 'Non' %></p>
    <% if (book.borrowed) { %>
        <p>Date de retour: <%= book.dueDate %></p>
    <% } %>
    <a href="/">Retour à la Liste</a>
</body>
</html>