<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>
    <div class="container">
        <h1>Library Management System</h1>
        <div>
            <h2>Liste des livres disponibles :</h2>
            <ul>
                <% books.forEach(book => { %>
                    <li>
                        <strong>Titre :</strong> <%= book.title %><br>
                        <strong>Auteur :</strong> <%= book.author %><br>
                        <strong>Genre :</strong> <%= book.genre %><br>
                        <% if (book.borrowed) { %>
                            <strong>Emprunté :</strong> Oui<br>
                            <strong>Date d'emprunt :</strong> <%= book.borrowDate %><br>
                            <strong>Date de retour :</strong> <%= book.returnDate %><br>
                        <% } else { %>
                            <strong>Emprunté :</strong> Non<br>
                        <% } %>
                    </li>
                <% }) %>
            </ul>
        </div>
        <form id="optionForm" action="/">
            <label for="option">Options :</label>
            <select id="option">
                <option value="getBooks">Afficher la collection de livres</option>
                <option value="sortBooks">Trier la collection de livres par titre</option>
                <option value="addBook">Ajouter un nouveau livre</option>
                <option value="removeBook">Supprimer un livre de la collection</option>
                <option value="returnBook">Rendre un livre</option>
                <option value="borrowBook">Emprunter un livre</option>
                <option value="getBorrowedBooks">Afficher les livres empruntés</option>
                <option value="getOverdueBooks">Afficher les livres en retard</option>
                <option value="getAvailableBooks">Afficher les livres disponibles</option>
                <option value="searchBook">Rechercher un livre par titre</option>
                <option value="searchBookByAuthor">Rechercher des livres par auteur</option>
                <option value="searchBookByGenre">Rechercher des livres par genre</option>
            </select>
            <!--Champ pour entrer les détails du livre--->
            <div id="inputFields" class="hidden">
                <label for="title">Titre :</label>
                <input type="text" id="title" name="title" required>
                <label for="author">Auteur :</label>
                <input type="text" id="author" name="author" required>
                <label for="genre">Genre :</label>
                <input type="text" id="genre" name="genre" required>
                <label for="borrower">Emprunteur :</label>
                <input type="text" id="borrower" name="borrower" required>
                <label for="borrowDate">Date d'emprunt :</label>
                <input type="date" id="borrowDate" name="borrowDate" required>
                <label for="returnDate">Date de retour :</label>
                <input type="date" id="returnDate" name="returnDate" required>
            </div> 
            <input type="submit" value="Exécuter">
        </form>
        <button onclick="displayAllResultsBtn" class="hidden">Afficher tous les résultats</button>
        <div id="output"></div>
    </div>
    <script src="/script/app.js"></script>
    </script>
</body>
</html>